.App {
  text-align: center;
  color: #333;
  border:1px solid #3c70a4;
  border-radius: 4px;
  background-color: #64b2cd;
  margin: 2em;
  padding: 0 1em;
  min-height: 20em;
  min-width: 132px;
  box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.51);
}
.App > h3{margin: 10px 0;}
.App > .inputWrapper{margin: 10px 0;}
.App > .inputWrapper > input{text-indent: .1em;border-radius:5px;padding: 5px 7px;}
.App > ol > ul{margin: 10px 0;}
.App > ol > ul > li{font-weight: bold;}
.App > .todoList > li:nth-child(odd){background-color: #d9eeec5e;}
.App > .todoList > li:nth-child(even){background-color: #2196f3a8;}
.App > .todoList > li:not(last-child){margin-bottom:.5em;}

