.UserDialogWrapper{
    position: fixed;top: 0;left: 0;bottom: 0;right: 0;
    display: flex;justify-content: center;align-items: center;
    background-color: hsla(0,0%,0%,0,4);
}
.UserDialogWrapper > .UserDialog{
    border-radius:5px;
    max-width: 20em;
    background-color: #fff;
    box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
    padding: 16px;
}
.UserDialogWrapper > .UserDialog > nav:first-child{padding: 1em;margin-left: -2em;}

.UserDialogWrapper > .UserDialog > nav:first-child label{margin-left: 2em;cursor:pointer;}

.UserDialog form > div >.row{display: flex;padding:.3em 0;margin: 1em 0;}

.UserDialog form > div >.row>label:first-child{width: 4em;}

.UserDialog form > div >.row.actions{padding-left: 4em;display: flex;align-items: center;}

.UserDialog form > .row.action{margin-right: .5em;}

.UserDialog button{font:inherit;padding: .2em;}